/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .login-flex{
  background-color: aquamarine;
  width : 40%;
} */
.login-flex {
  height: 40vh;
}
.signUp-flex {
  height: 44vh;
}
.login-subFlex {
  width: 36%;
  padding: 10px;
  border-radius: 8px !important;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
}
.signUp-subFlex {
  width: 36%;
  padding: 10px;
  border-radius: 12px !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
}
/* .username-fieldText .css-1dnt4yt-euiFieldText{
margin: 10px;
 } */
.username-fieldText.css-9sbomz-euiFlexItem-grow-1 {
  margin: 0 0 0 8px;
}
.email-fieldText.css-9sbomz-euiFlexItem-grow-1 {
  margin: 0 0 0 48px;
}
.login-text .css-1n6n1v5-euiText-m {
  font-size: 26px;
  font-weight: 600;
}
.signup-text .css-1n6n1v5-euiText-m {
  font-size: 26px;
  font-weight: 600;
}
.username-text .css-1n6n1v5-euiText-m {
  font-size: 18px;
  font-weight: 500;
}
.password-text .css-1n6n1v5-euiText-m {
  font-size: 18px;
  font-weight: 500;
}
.email-text .css-1n6n1v5-euiText-m {
  font-size: 18px;
  font-weight: 500;
}
.username-fieldText .css-1dnt4yt-euiFieldText {
  border-radius: 4px !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
}
.password-field .css-p9v0xf-euiFormControlLayout-group {
  border-radius: 4px !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
}
.email-fieldText .css-1dnt4yt-euiFieldText {
  border-radius: 4px !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
}

.booksDetail-main .css-kz3qdw-euiFlexGroup-l-flexStart-stretch-column {
  margin: 60px 140px 0px 140px;
}

.booksDetail-main .css-1n6n1v5-euiText-m {
  font-weight: 700;
  font-size: 30px;
}
.table-group.css-1drqwgc-euiFlexGroup-responsive-l-flexStart-stretch-row {
  border-radius: 8px !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
  padding: 10px;
}
.table-group .css-1d6gd2z-euiTable-fixed-uncompressed-desktop {
  border-radius: 8px !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
}
.searchField-group .css-t66m08-euiFieldSearch-fullWidth {
  border-radius: 8px !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5) !important;
  border-color: transparent !important;
}
.cart-bookNumber .css-1n6n1v5-euiText-m {
  font-weight: 400;
  font-size: 20px;
}
.cart-bookDetail .css-1n6n1v5-euiText-m {
  font-weight: 500;
  font-size: 25px;
}
.common-btn {
  margin: 5px 0px;
}
.tableBook-detail {
  width: 40%;
}
@media screen and (max-width: 767px) {
  .email-fieldText.css-9sbomz-euiFlexItem-grow-1 {
    margin: 0 0 0 0;
  }
  .username-fieldText.css-9sbomz-euiFlexItem-grow-1 {
    margin: 0 0 0 0;
  }
  .signup-btn {
    display: flex;
    justify-content: center;
  }
  .signup-text .css-1n6n1v5-euiText-m {
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  .signup-link.css-1n6n1v5-euiText-m {
    display: flex;
    justify-content: center;
  }
  .login-link.css-1n6n1v5-euiText-m {
    display: flex;
    justify-content: center;
  }
  .signup-password.css-1lanpaf-euiFlexGroup-responsive-xl-flexStart-center-row {
    gap: 29px;
  }
  .login-text .css-1n6n1v5-euiText-m {
    display: flex;
    justify-content: center;
  }
  .login-password.css-1lanpaf-euiFlexGroup-responsive-xl-flexStart-center-row {
    gap: 26px;
  }
  .login-btn {
    display: flex;
    justify-content: center;
  }
  .addBook-btn {
    display: flex;
    justify-content: flex-end;
  }
  .booksDetail-main .css-1n6n1v5-euiText-m {
    font-weight: 600;
    font-size: 22px;
  }
}

@media screen and (max-width: 696px) {
  .booksDetail-main .css-kz3qdw-euiFlexGroup-l-flexStart-stretch-column {
    margin: 100px 60px 0px 60px;
  }
}
@media screen and (max-width: 497px) {
  .booksDetail-main .css-1n6n1v5-euiText-m {
    font-weight: 600;
    font-size: 18px;
  }
}
.table-title {
  width: 34% !important;
}
.table-field {
  width: 66% !important;
}
.common-fieldText .css-k0u44b-euiFormControlLayout {
  margin: 6px 0px 6px 0px;
}
.table-group .css-ykrjwq-euiTableCellContent-euiTableHeaderCell__content {
  font-size: 16px;
  padding: 3px;
  height: 27px;
}
.table-group .css-3uekwx-euiTableRowCell__mobileHeader {
  font-size: 14px;
  padding: 3px;
}
.cartDetail-grp.css-kz3qdw-euiFlexGroup-l-flexStart-stretch-column{
 margin : 60px 140px 0px 140px;
}
.singlePage-mainDiv{
  height: 100vh;
  background-color: rgb(230 252 252);
}
.singlePage-detailGroup.css-kz3qdw-euiFlexGroup-l-flexStart-stretch-column{
  margin : 60px 65px 0px 65px; 

}
.singleBook-title.css-1n6n1v5-euiText-m{
  font-size: 24px;
  font-weight: 600;
  margin : 34px 0px 0px 0px;
}
.content-group .css-19ubjn6-euiFlexGroup-l-flexStart-center-column{
   
   background-color: #dcfaf9;
   border-radius:40px ;
}
.singleBook-detail.css-1n6n1v5-euiText-m{
  margin: 0 0 34px 0;
}